[Unit]
Description=sandbox

[Service]
TimeoutStartSec=0
Restart=always
RemainAfterExit=true
ExecStart=/root/sandbox-gpu.sh

[Install]
WantedBy=default.target