[Unit]
Description=sandbox
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RemainAfterExit=true
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull ghcr.io/nikitavbv/sandbox/sandbox:0.1.134
ExecStart=/usr/bin/docker run --rm --name %n -p 8080:8080 -v /root/config.toml:/opt/sandbox/config.toml -h $HOSTNAME ghcr.io/nikitavbv/sandbox/sandbox:0.1.134

[Install]
WantedBy=default.target